<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	
	<div th:fragment="content">
		 <p th:text="#{app.title}"></p>
		<form>
			<input type="text" name="val" />
			<input type="submit" value="save!" />
		</form>
	
	</div>
</body>
</html>